<div class="container mt-4">
    <h1 class="mb-4 text-center">Jedi Archives</h1>
    <div class="row">
        <div class="col-md-4" *ngFor="let jedi of jedis; let i = index">
            <div class="card mb-4 holocron-card">
                <img src="{{ jedi.imageUrl }}" class="card-img-top" alt="{{ jedi.name }}">
                <div class="card-header text-center">
                    <h5 class="card-title">{{ jedi.name }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Rank:</strong> {{ jedi.rank }}</p>
                    <p class="card-text"><strong>Lightsaber Color:</strong> {{ jedi.lightsaberColor }}</p>
                    <p class="card-text"><strong>Homeworld:</strong> {{ jedi.homeworld }}</p>
                    <p class="card-text"><strong>Master:</strong> {{ jedi.master }}</p>
                    <p class="card-text"><strong>Padawan:</strong> {{ jedi.padawan }}</p>
                    <p class="card-text"><strong>Age:</strong> {{ jedi.age }}</p>
                    <p class="card-text"><strong>Status:</strong> {{ jedi.alive ? 'Alive' : 'Deceased' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>